<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Meetanshi_SocialMetaTag::socialmetatag" title="Social Meta Tags" sortOrder="10">
                    <resource id="Meetanshi_SocialMetaTag::socialmetatag_configuration" title="Configuration" sortOrder="10"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Meetanshi_SocialMetaTag::socialmetatag_config" title="Social Meta Tags"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
