<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <router id="admin">
        <route id="socialmetatag" frontName="socialmetatag">
            <module name="Meetanshi_SocialMetaTag" before="Magento_Backend"/>
        </route>
    </router>
</config>