<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="custommailorder" id="custommailorder">
            <module name="Cyberworx_CustommailOrder"/>
        </route>
    </router>
</config>